body {
  height: 100vh;
  width: 100%;
  background-color: #f1f1fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balls {
  height: 200px;
  position: relative;
  display: flex;
}

.ball {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  transition: 0.5s;
  bottom: 0%;
}

.ball-1 {
  margin-left: 12.5px;
  animation: ball-1 2s linear infinite;
}
@keyframes ball-1 {
  50% {
    transform: translateY(-165px);
  }
  100% {
    bottom: 0;
  }
}

.ball-2 {
  margin-left: 60px;
  animation: ball-2 2s linear 0.2s infinite;
}
@keyframes ball-2 {
  50% {
    transform: translateY(-165px);
  }
  100% {
    bottom: 0;
  }
}

.ball-3 {
  margin-left: 107.5px;
  animation: ball-3 2s linear 0.4s infinite;
}
@keyframes ball-3 {
  50% {
    transform: translateY(-165px);
  }
  100% {
    bottom: 0;
  }
}

.ball-4 {
  margin-left: 155px;
  animation: ball-4 2s linear 0.6s infinite;
}
@keyframes ball-4 {
  50% {
    transform: translateY(-165px);
  }
  100% {
    bottom: 0;
  }
}

.ball-5 {
  margin-left: 202.5px;
  animation: ball-5 2s linear 0.8s infinite;
}
@keyframes ball-5 {
  50% {
    transform: translateY(-165px);
  }
  100% {
    bottom: 0;
  }
}

.board {
  width: 250px;
  height: 10px;
  background-color: #000;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
}
